python-semantic-release
pyinstaller
commitizen
pre-commit
tox
pylint
pytest
coverage
docker-compose
https://github.com/Toilal/pytest-docker-compose/archive/configuration-inside-tests.zip#egg=pytest-docker-compose
waiting
pytest-mock
pytest-cov
pex

-r requirements.txt
