python-semantic-release
commitizen
pre-commit
githubrelease
tox
pylint
pytest
coverage
https://github.com/Toilal/pytest-docker-compose/archive/configuration-inside-tests.zip
waiting
pytest-mock
pex

-r requirements.txt
