-e .
colorama
colorlog
netifaces
requests
PyYAML
marshmallow
dotty-dict
deepmerge
diskcache
python-slugify
dictdiffer
Jinja2
braceexpand
toposort
cookiecutter
jsonnet
zgitignore
cached-property
docker[tls]
dockerfile-parse
simpleeval
