-e .
colorama
colorlog
verboselogs
netifaces
requests
PyYAML
marshmallow
dotty-dict
deepmerge
diskcache
python-slugify
dictdiffer
Jinja2
braceexpand
toposort
cookiecutter
https://github.com/Toilal/jsonnet/archive/261ce562e4af4db278bf84a2e2cd018b0f682e17.zip#egg=jsonnet
zgitignore
cached-property
docker[tls]
dockerfile-parse
https://github.com/danthedeckie/simpleeval/archive/0383c383bd437e4fe7be9a9f85cffaa01a662b3f.zip#egg=simpleeval
cfssl>=0.0.3b243
cryptography
watchdog
gitpython
chmod-monkey>=1.1.1
wcmatch
