-e .
colorama
colorlog
verboselogs
netifaces
requests
PyYAML
marshmallow
dotty-dict
deepmerge
diskcache
python-slugify
dictdiffer
Jinja2
braceexpand
toposort
cookiecutter
jsonnet
zgitignore
cached-property
docker[tls]
dockerfile-parse
simpleeval
cfssl>=0.0.3b243
cryptography
watchdog
